<div class="container">
  <ng-include src="'navbar.template.html'"></ng-include>
  <div class="row">

    <div class="col-sm-6 col-md-4" ng-repeat="app in appuntamenti">
      <div class="thumbnail" style="border: 2px solid {{app.priorita}}; border-radius:10px" ng-class="{'alta': app.priorita=='#ff0000', 'media': app.priorita=='#ff3e0', 'bassa':app.priorita=='#00ff00'}">
        <img ng-src="{{app.image}}" width="100px;">
        <div class="caption">
          <h3>{{app.titolo}}</h3>
          <p>{{app.data | date:'dd/MM/yyyy'}}</p>
          <p>
            <a class="btn btn-primary" role="button" ui-sref="dettaglio({id:app.id})">Apri</a>
            <a href="#" class="btn btn-danger" role="button" ng-click="elimina($index)">Elimina</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
