<form>
  <div class="form-group">
    <label for="titolo">Titolo:</label>
    <input type="text" class="form-control" id="titolo" ng-model="appuntamento.titolo">
  </div>
  <div class="form-group">
    <label for="luogo">Luogo:</label>
    <input type="text" class="form-control" id="luogo" ng-model="appuntamento.luogo">
  </div>
  <div class="form-group">
    <label for="descrizione">Descrizione:</label>
    <input type="text" class="form-control" id="descrizione" ng-model="appuntamento.descrizione">
  </div>
  <div class="form-group">
    <label for="data">Data:</label>
    <input type="datetime-local" class="form-control" id="data" ng-model="appuntamento.data">
  </div>
  <div class="form-group">
    <select class="form-control" id="sel1"  ng-model="appuntamento.priorita">
      <option value="Tutte">Tutte</option>
      <option value="#00ff00">Bassa</option>
      <option value="#ffa500">Medio</option>
      <option value="#ff0000">Alta</option>
    </select>
  </div>
  <div class="form-group">
    <label for="image">Immagine:</label>
    <input type="" class="form-control" id="image" ng-model="appuntamento.image">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
